{% extends 'registration/registration_base.html' %}
{% block Titulo %}Restablecimiento de contraseña completo | SGT{% endblock Titulo %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Restablecimiento de contraseña completo</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Tu contraseña ha sido establecida, ¡ahora puedes iniciar sesión!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión aquí</a>
    </div>
</div>
{% endblock content %}