{% extends 'registration/registration_base.html' %}
{% block Titulo %}Correo enviado | SGT{% endblock Titulo %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Correo enviado</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Se ha enviado un correo electrónico con instrucciones
      para restablecer tu contraseña, revisa tu correo electrónico.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Volver al inicio de sesión</a>
  </div>
</div>
{% endblock content %}