{% extends 'base.html' %}
{% block Titulo %}{{ Titulo }}{% endblock Titulo %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Inicio</a> <i>&rsaquo;</i> Cambio de contraseña</div>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <p class="form-title"><i class="fas fa-lock"></i>Cambiar contraseña</p><br>
            <div class="container">
                <!-- {{ form|crispy }} -->
            
                <form action="" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label>{{ form.old_password.label }}</label>{{ form.old_password }}
                    <span class="danger">{{ form.old_password.errors }}</span>
                    <p class="text-muted-xs">Requerido. Máximo 150 caracteres. Solo letras, dígitos y @/./+/-/_.</p>
                </div>
                <div class="form-group">
                    <label>{{ form.new_password1.label }}</label>{{ form.new_password1 }}
                    <span class="danger">{{ form.new_password1.errors }}</span>
                    <p class="text-muted-xs">
                        Tu contraseña no puede ser demasiado similar a tu otra información personal.<br>
                        Tu contraseña debe contener al menos 8 caracteres.<br>
                        Tu contraseña no puede ser una contraseña comúnmente utilizada.<br>
                        Tu contraseña no puede ser completamente numérica.
                    </p>
                </div>
                <div class="form-group">
                    <label>{{ form.new_password2.label }}</label>{{ form.new_password2 }}
                    <span class="danger">{{ form.new_password2.errors }}</span>
                    <p class="text-muted-xs">Ingresa la misma contraseña que antes, para verificación.</p>
                </div>

                <center><input class="btn btn-outline-primary" type="submit" value="Cambiar contraseña"></center><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}