<!-- Privacy Modal -->
<div class="modal fade" id="privacy-policy" tabindex="-1" aria-labelledby="privacyPolicy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="privacyPolicy">Política de privacidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
            Lo que sigue es solo un texto de marcador de posición para este cuadro de diálogo modal. Solo tienes que encender la luz
            y deja que brille! Ven tal como eres para mí. Solo sé dueño de la noche como el 4 de julio. Infectame con
            tu amor y lléname con tu veneno. Ven tal como eres para mí. Fin del arcoíris buscando tesoro.
        </p>
        <p>
            No puedo dormir huyamos y nunca mires atrás, nunca mires atrás. no puedo dormir vamos a correr
            lejos y nunca mires atrás, nunca mires atrás. Sí, hacemos llorar a los ángeles, lloviendo sobre la tierra
            desde arriba Estoy caminando en el aire (esta noche). Deja que pongas tus manos sobre mí en mis jeans ceñidos.
            Picando como una abeja me gané las rayas. Pasé de cero, a mi propio héroe. Incluso más brillante que el
            luna, luna, luna. ¡Haz que digan, 'Aah, aah, aah' mientras disparas por el cielo! ¿Por qué no me dejas?
            ¿detenerse?
        </p>
        <p>
            Bum, bum, bum. Nunca me hizo parpadear una vez. Sí, tienes suerte si estás en su avión.
             Hablar de nuestro futuro como si tuviéramos una pista. Dios mío, no exagero. Eres original, no se puede reemplazar.
             La chica es un bicho raro, conduce un jeep en Laguna Beach. No es gran cosa, no es gran cosa,
             no es la gran cosa. En otra vida te haría quedar. Voy a hacer que tu corazón se acelere en mi
             vaqueros ceñidos a la piel. Quiero caminar sobre la longitud de tu onda y estar allí cuando vibres Nunca me hiciste
             parpadear una vez.
        </p>
        <p>
            Mantendríamos todas nuestras promesas siendo nosotros contra el mundo. En otra vida sería tu chica. Podemos
            danza, hasta que muramos, tú y yo, seremos jóvenes para siempre. Y en mi cumpleaños número 18 obtuvimos coincidencias
            tatuajes Así que abre tu corazón y deja que comience. Porque ella es la musa y la artista.
            Ella te come el corazón. Como Jeffrey Dahmer (woo). Explota tu confeti. (Así es como lo hacemos) yo
            sé que una chispa sorprenderá al mundo, sí, sí. Si supieras lo que depara el futuro.
        </p>
        <p>
            Bebiendo Rosé, sol de Silver Lake, subiendo todo perezoso. Está en la palma de tu mano ahora bebé.
             Así que llegamos al bulevar. Así que pide un deseo, lo haré como tu cumpleaños todos los días. Alguna vez
             ¿Se siente ya enterrado a dos metros bajo tierra? Es hora de sacar los globos grandes.
             Podrías haber sido el más grande. Sellos de pasaporte, ella es cosmopolita. Tu beso es cósmico,
             cada movimiento es mágico.
        </p>
        <p> 
            Estamos viviendo la vida. Lo estamos haciendo bien. Abre tu corazón. Estaba tratando de golpearlo y dejarlo.
            Su amor es como una droga. Siempre deja un rastro de polvo de estrellas. La chica es un bicho raro, conduce un jeep
            en Laguna Beach. Fino, fresco, feroz, lo tenemos en la cerradura. Todas mis chicas vintage Chanel baby.
        </p>
        <p>
            Antes de que me conocieras, estaba bien, pero las cosas eran un poco pesadas. Labios de color rosa melocotón, sí, todo el mundo mira.
            Esto no es gran cosa. Gritando mi nombre. Podría haber reescrito tu adicción. Ella tiene eso, je ne
            sais quoi, lo sabes. Pesada es la cabeza que lleva la corona. 'Porque, cariño, eres un fuego artificial.
            Como el trueno sacudirá la tierra.
        </p>
        <p>
            ¡Solo sé dueño de la noche como el 4 de julio! Voy a ponerla en coma. Lo que estás esperando, es
            hora de que lo presumas. No puedo reemplazarte con un millón de anillos. Me abres los ojos y estoy listo
            para ir, llévame a la luz. Y aquí estás. Voy a ponerla en coma. Vamos, deja que tu
            estallido de colores. Así que cúbrete los ojos, tengo una sorpresa. Mientras marcho solo a un ritmo diferente.
            Brillantina por toda la habitación flamencos rosas en la piscina.
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Comprendido</button>
        </div>
    </div>
    </div>
</div>
