<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termOfService">Términos de servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>
                    Esto es solo un texto de marcador de posición para este cuadro de diálogo modal. ¡Solo tienes que encender la luz
                    y dejar que brille! Ven tal como eres para mí. Solo posee la noche como el 4 de julio. Infectame con
                    tu amor y lléname de tu veneno. Ven tal como eres para mí. Fin del arcoíris buscando tesoro.
                </p>
                <p>
                    No puedo dormir, escapemos y nunca miremos atrás, nunca miremos atrás. No puedo dormir, escapemos
                    y nunca miremos atrás, nunca miremos atrás. Sí, hacemos llorar a los ángeles, lloviendo sobre la tierra
                    desde arriba. Estoy caminando en el aire (esta noche). Deja que pongas tus manos en mí en mis jeans ajustados.
                    Picando como una abeja, me gané mis rayas. Pasé de cero a mi propio héroe. Aún más brillante que la
                    luna, luna, luna. Haz que digan: 'Aah, aah, aah' mientras cruzas el cielo-y-y! ¿Por qué no me dejas
                    pasar?
                </p>
                <p>
                    Boom, boom, boom. Nunca me hizo parpadear ni una vez. Sí, tienes suerte si estás en su avión.
                    Hablemos de nuestro futuro como si tuviéramos una pista. Oh Dios mío, sin exagerar. Eres original, no se puede reemplazar.
                    La chica es una loca, conduce un jeep en Laguna Beach. No es gran cosa, no es gran cosa,
                    no es gran cosa. En otra vida te haría quedarte. Voy a acelerar tu corazón con mis jeans ajustados. Quiero caminar en tu longitud de onda y estar allí cuando vibres. Nunca me hizo
                    parpadear ni una vez.
                </p>
                <p>
                    Mantendríamos todas nuestras promesas, seríamos nosotros contra el mundo. En otra vida, yo sería tu chica. Podemos
                    bailar, hasta que muramos, tú y yo, seremos jóvenes para siempre. Y en mi 18 cumpleaños, nos hicimos
                    tatuajes a juego. Así que abre tu corazón y deja que comience. Porque ella es la musa y la artista.
                    Ella se come tu corazón. Como Jeffrey Dahmer (woo). Lanza tu confeti. (Así es como lo hacemos) Yo
                    sé que una chispa impactará al mundo, sí sí. Si supieras lo que depara el futuro.
                </p>
                <p>
                    Bebiendo Rosé, el sol de Silver Lake, levantándose con pereza. Está en la palma de tu mano ahora, bebé.
                    Así que golpeamos el bulevar. Así que pide un deseo, lo haré como si fuera tu cumpleaños todos los días. ¿Alguna vez
                    te sientes ya enterrado a seis pies bajo tierra? Es hora de sacar los globos grandes.
                    Podrías haber sido el mejor. Sellos de pasaporte, ella es cosmopolita. Tu beso es cósmico,
                    cada movimiento es mágico.
                </p>
                <p> 
                    Estamos viviendo la vida. Lo estamos haciendo bien. Abre tu corazón. Estaba tratando de pegarle y dejarlo.
                    Su amor es como una droga. Siempre deja un rastro de polvo de estrellas. La chica es una loca, conduce un jeep
                    en Laguna Beach. Fino, fresco, feroz, lo tenemos bajo control. Todas mis chicas llevan Chanel vintage, bebé.
                </p>
                <p>
                    Antes de conocerte, estaba bien, pero las cosas eran un poco pesadas. Labios melocotón-rosa, sí, todos miran.
                    Esto no es gran cosa. Llamando mi nombre. Podría haber reescrito tu adicción. Ella tiene eso, je ne
                    sais quoi, tú lo sabes. Pesada es la cabeza que lleva la corona. Porque, bebé, eres un fuego artificial.
                    Como un trueno que sacude el suelo.
                </p>
                <p>
                    ¡Solo posee la noche como el 4 de julio! La voy a poner en coma. ¿Qué estás esperando? Es hora de que lo muestres.
                    No puedo reemplazarte con un millón de anillos. Abres mis ojos y estoy listo para irme, llévame a la luz. Y aquí estás.
                    La voy a poner en coma. ¡Vamos, deja que tus colores estallen! Así que cubre tus ojos, tengo una sorpresa. Mientras marcho sola al ritmo de un tambor diferente.
                    Purpurina por toda la habitación, flamencos rosas en la piscina.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
